// Fonts
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Red+Hat+Text:wght@700&display=swap);
$quickSand: 'Quicksand', sans-serif;   
$redHatText: 'Red Hat Text', sans-serif;
$fonts: Helvetica, sans-serif;
$subtitle-fonts: $quickSand;
$title-fonts: $quickSand;
// Font sizes
$h1: 6rem;
$h2: 1.50rem;
$h3: 1.25rem;
$card-desc:1.2rem;
$base-size: 1rem; // 12px
$category: 1.3rem;
$links-size: 1.1rem;

//Layout
$base-padding: 1rem; //12px

// Colors 
$links:rgb(46, 50, 112);
$gray:#be3a3a;
$dark-gray:darken($gray,25%);
$black:#000000;
$white:#ffffff;
$drab: #393939;
$flat: #5b5b5b;

$black:#000000;
$white:#ffffff;
$blue: #4AABE8; 
$text:#00609D;
$header:#EFF2FE;
$bouton:#24CFAA;
$links:#fff;
$menuItemn:#EFF2FE;
$body:#E3E6EC;