@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Red+Hat+Text:wght@700&display=swap);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 75%; }

.h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 6rem; }

.h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem; }

a {
  color: #fff; }
  a:hover {
    color: white; }

button {
  padding: 10px;
  background-color: white;
  border: none; }
  button:hover {
    font-weight: bold; }

body {
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  background: #E3E6EC; }

.cardcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.bande {
  margin: auto;
  background-color: coral;
  width: 1000px;
  height: 120px; }

input {
  background-color: silver;
  border: 1px solid #7791f7;
  border-radius: 5px;
  padding: 5px;
  color: white; }
  input.is-double {
    width: 50%; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

/**
* Font size media queries
*/
@media all and (min-width: 1000px) {
  .h1 {
    font-size: 4rem; }

  .h2 {
    font-size: 3rem; } }
#header {
  background-color: #EFF2FE; }
  #header .container {
    height: 60px;
    width: 1020px;
    margin: auto;
    display: flex;
    flex-direction: row no-wrap;
    justify-content: space-between;
    padding: 8vh; }
    @media (max-width: 999px) {
      #header .container {
        width: unset; } }

#main .main-bloc {
  width: 90%;
  max-width: 1020px;
  margin: 0 auto; }

#footer {
  background-color: #EFF2FE; }
  #footer .container {
    width: 20px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px; }
    #footer .container--titre {
      color: #000000;
      text-align: center;
      font-family: "Red Hat Text", sans-serif;
      font-size: 1.1em; }

.col {
  flex: 1 1 100%;
  position: relative; }
  .col--halves {
    flex: 1 1 50%; }
  .col--quarters {
    flex: 1 1 25%; }
  .col--thirds {
    flex: 1 1 33.33%; }

.flex-grid {
  position: relative;
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start; }

@media (max-width: 1000px) {
  .flex-grid,
  .col {
    display: block; }
    .flex-grid .col,
    .col .col {
      width: 100%;
      margin: 0 0 10px 0; } }
#nav-menu {
  background-color: #EFF2FE;
  padding-left: 20%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: flex-start;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase; }

.card {
  margin: 20px;
  padding: 40px 30px;
  background: #E3E6EC;
  border-radius: 40px;
  flex-basis: 22%;
  box-shadow: -6px -6px 20px #fdfdfd, 6px 6px 20px rgba(0, 0, 0, 0.1); }
  .card:hover {
    box-shadow: inset -12px -12px 12px #fdfdfd, inset 12px 12px rgba(0, 0, 0, 0.1); }
  .card--imgBx {
    position: relative;
    text-align: center; }
    .card--imgBx img {
      max-width: 80px;
      height: 80px; }
  .card--contentBx {
    position: relative;
    margin-top: 20px;
    color: #00609D;
    font-weight: 400;
    font-size: 1.3em; }
    .card--contentBx--title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 1.3em;
      letter-spacing: 2px;
      text-align: center; }

.logo {
  width: 6em;
  margin-left: auto;
  margin-right: auto; }
  .logo--titre {
    color: #4AABE8;
    text-align: center;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 800;
    font-size: 4em; }

.card {
  width: 480px;
  margin: 20px;
  padding: 40px 30px;
  background: #E3E6EC;
  border-radius: 40px;
  box-shadow: -6px -6px 20px #fdfdfd, 6px 6px 20px rgba(0, 0, 0, 0.1); }
  .card:hover {
    box-shadow: inset -12px -12px 12px #fdfdfd, inset 12px 12px rgba(0, 0, 0, 0.1); }
  .card--imgBx {
    position: relative;
    text-align: center; }
    .card--imgBx img {
      max-width: 80px;
      height: 80px; }
  .card--contentBx {
    position: relative;
    margin-top: 20px;
    color: #00609D;
    font-weight: 400;
    font-size: 1.3em; }
    .card--contentBx--title {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 1.3em;
      letter-spacing: 2px;
      text-align: center; }

/*# sourceMappingURL=main.css.map */
