@import "./variables";

body {
     font-family: $text-font;
     font-size: 1.8rem;
     font-weight: 400;
}

h1, h2, h3,
h4, h5, h6 {
     color: $color-primary-dark;
     text-transform: uppercase;
}

a {
     color: inherit;
}

p {
     text-align: justify;
}
