#nav-menu{
        background-color:$header;
        padding-left:20%;
        display:flex;
        flex-flow: row wrap;
        align-content:center;
        justify-content:flex-start;
        font-family: $quickSand;
        font-size: $links-size;
        text-align: center;
        text-transform: uppercase;}
// .nav{
//     li{
//         color:$black;
//         display:block;
//         padding:25px;
//         background-color:$menuItemn;
//         // box-shadow: 2px 2px $black;
//         text-decoration: none;
//         &:hover{
//             // background-color:$white;
//             // color:$links;
//             // box-shadow: 2px 2px lighten($drab, 50%);
//         }
//         &.is-active{
//             display:block;
//             font-weight: bold;
//             background-color:$links;
//             border-bottom:2px solid $white;
//         }
    
//     }

// }

// // @media (max-width: 999px) {
// //     .nav_menu{
// //         display:flex;
// //         flex-flow: column wrap;
// //         align-content: center;
// //         background-color:$gray;
// //         &--item{
// //             font-size: $links-size;
// //             text-align: center;
// //             text-transform: uppercase;
// //             font-weight: bold;
// //             padding:10px 0;
// //         }
// //     }
// // }